.center-one {
    margin-top: 52px;
    margin-bottom: 102px;
}
.about-section {
    font-family: $about-font;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 12px;
}
.title-section {  
    font-weight: 900;
    font-size: 30px;
    line-height: 48px;
    text-transform: uppercase;
    position: relative; 
    
    &::after {
        @include psevdo;
        top: 64px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 60px;
        height: 3px;
        background-color: $light-red-color;
    }
}
