// Fonts
$main-font: 'Montserrat', 'Arial', sans-serif;
$about-font: 'Kaushan Script', 'Arial', cursive;
$text-font: 'Roboto', 'Arial', sans-serif;
// Colors
$main-color: #333333;
$text-color: #999999;
$link-color: #ffffff;
$peach-color: #fce38a;
$light-red-color: #f38181;
$icon-fill: #99e2d5;
$sea-color: #95e1d3;
$footer-superline: #e5e5e5;
$last-word: #f59494;
$form-text-color: #cccccc;