.page-header__about {
    font-family: $about-font;
    font-size: 72px;
    line-height: 116px;
}
.page-header__title {
    width: 834px;
    font-size: 150px;
    line-height: 240px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 80px;
}
